.menu-container {
	position: relative;
	font-family: 'Varela Round', sans-serif;
}

.menu {
	background: #ffffff;
	border-radius: 8px;
	position: absolute;
	top: 40px;
	left: 0;
	width: 200px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu li {
	border-bottom: 1px solid #dddddd;
}

.menu li .link {
	text-decoration: none;
	color: #333333;
	padding: 15px 20px;
	display: block;
	transition: all 150ms ease-out;

	&:hover {
		color: $cerulean-crayola;
	}
}

.menu-trigger {
	background: #ffffff;
	color: $color1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 6px;
	// box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	border: none;
	cursor: pointer;
	vertical-align: middle;
	transition: all 0.4s ease;
}

.menu-trigger:hover {
	color: $cerulean-crayola;
}

.menu-trigger span {
	font-weight: 500;
	vertical-align: middle;
	font-size: 14px;
	margin: 0 10px;
	text-transform: uppercase;
}
