.login {
	height: calc(100vh - 10vh);
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient($mint-cream, rgb(241, 241, 241));

	&__title {
		font-size: 4rem;
		color: $color1;
		margin-bottom: 30px;
	}
	&__form {
		display: flex;
		width: 450px;
		flex-direction: column;
		padding: 30px;
		padding-bottom: 40px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

		& > label {
			margin: 10px 0 0 0;
			font-size: 1rem;
			color: $cerulean-crayola;
		}
	}

	&__input {
		padding: 10px;
		background: white;
		border: none;
		border-bottom: 2px solid $color1;
		outline: none;
		font-size: 1rem;
		margin-bottom: 20px;
		transition: all 150ms ease-in-out;

		&:focus {
			border-bottom: 2px solid $cerulean-crayola;
		}

		&::placeholder {
			color: #bbb;
		}
	}
	&__button {
		width: 40%;
		font-size: 1rem;
		text-decoration: none;
		text-align: center;
		font-family: sans-serif;
		align-self: center;
		margin-top: 20px;
		background: $cerulean-crayola;
		border: 2px solid white;
		color: white;
		padding: 10px;
		font-size: 1rem;
		border-radius: 3px;
		cursor: pointer;
		transition: all 150ms ease-in-out;

		&:disabled {
			cursor: not-allowed;
			opacity: 0.8;
		}

		&:hover {
			border: 2px solid $cerulean-crayola;
			background-color: white;
			color: $cerulean-crayola;
		}
	}
}
